@model AspNetMvcGoogleFacebookTwitterAuthExperiment.Models.AuthModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Provider: @Model.Provider</p>
<p>User id: @Model.UserId</p>
<p>Email: @Model.Email</p>
<p>Access token: @Model.AccessToken</p>
<p>Access token secret: @Model.AccessTokenSecret</p>

<p><a href="@Url.Action("Index")">Home</a></p>