@model AspNetMvcGoogleFacebookTwitterAuthExperiment.Models.AuthenticationModel

<!doctype html>
<html>
    <head>
        <title>Social authentication</title>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Social authentication <small>with Google, Facebook and Twitter</small></h1>
            </div>

            <ul class="inline">
                <li><a href="@Url.Action("AuthenticateWithGoogle")" class="btn btn-large btn-success">Authenticate with Google</a></li>
                <li><a href="@Url.Action("AuthenticateWithFacebook")" class="btn btn-large btn-success">Authenticate with Facebook</a></li>
                <li><a href="@Url.Action("AuthenticateWithTwitter")" class="btn btn-large btn-success">Authenticate with Twitter</a></li>
            </ul>

            @if (Model != null)
            {
                <h2>Provider: @Model.Provider</h2>
                <p>User id: @Model.UserId</p>
                <p>Email: @Model.Email</p>
                <p>Access token: @Model.AccessToken</p>
                <p>Access token secret: @Model.AccessTokenSecret</p>
                
                if (Model.Extra != null)
                {
                    <h3>Extra</h3>
                    <pre>@Model.Extra.ToString()
</pre>
                }
            }
            
            <hr/>
            &copy; 2013 <a href="http://loki2302.me" target="_blank">loki2302</a>
        </div>
    </body>
</html>